<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>com.example.war.WarApplication</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>WEB_PARAM</param-name>
        <param-value>WEB_PARAM</param-value>
    </context-param>
</web-app>